/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Basic dark mode toggle on body for global elements */
[data-theme='dark'] {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
}

html {
    scroll-behavior: smooth;
    /* Smooth scrolling for anchor links */
}